@import url(../basic-css.css);
@import url(../../font/font.css);

body{
    font-family: "Inter";
    display:     flex;
    margin:      60px 320px;
    justify-content: space-between;
    align-items:     flex-end;
}

h1 {
    font-size: 86px;
    font-weight: 800;
    letter-spacing: 0.86px;
    margin-bottom: -20px;
}
h2 {
    color: var(--white4);
    font-size: 76px;
    font-weight: 800;
    letter-spacing: 0.76px;
    margin-bottom: 80px;
}

h3 {
    color: var(--black5);
    font-size: 70px;
    font-weight: 700;
    letter-spacing: 0.7px;
    margin-bottom: 80px;
}

h4 {
    color: var(--grey5);
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.2px;
    margin-bottom: 110px;
    line-height: 300%;
}
h5 a {display: inline !important;}
h5 {
    color: var(--grey2);
    font-size: 20px;
    font-weight: 700;
    line-height: 200%; /* 40px */
    letter-spacing: 0.2px;
}

.link {
    color: var(--white1) !important;
    font-size: 37px;
    font-weight: 900;
    letter-spacing: 0.37px;
    display: grid !important;
    justify-items: center;
    
}

.img {width: 450px;height: 730px;}
@media screen and (max-width: 1600px){
    body{
        margin:      50px 200px;
    }

    h1 {font-size: 83px;letter-spacing: 0.83px;margin-bottom: -15px;}
    h2 {font-size: 70px;letter-spacing: 0.7px;margin-bottom: 70px;}

    h3 {font-size: 60px;letter-spacing: 0.6px;margin-bottom: 60px;}

    h4 {font-size: 18px;letter-spacing: 0.18px;margin-bottom: 100px;}
    h5 {font-size: 18px;letter-spacing: 0.18px;}

    .link {font-size: 35px;letter-spacing: 0.35px;}
    .img {width: 380px;height: 620px;}
}