<div class="info-number">
    <div class="fake-nav"></div>
    <div class="user-info">
        <div class="selected-img">
            <img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt="">
        </div>
        
        <h1><span1 id="invited">0</span1> друзей приглашено</h1>

        
        <div><div class="indicator-selected">
            <div class="column">
                <div class="indicator-box" id="indicator-1"></div>
                <div class="indicator-box" id="indicator-2"></div>
                <div class="indicator-box" id="indicator-3"></div>
                <div class="indicator-box" id="indicator-4"></div>
                <div class="indicator-box" id="indicator-5"></div>
                <div class="indicator-box" id="indicator-6"></div>
                <div class="indicator-box" id="indicator-7"></div>
                <div class="indicator-box" id="indicator-8"></div>
                <div class="indicator-box" id="indicator-9"></div>
                <div class="indicator-box" id="indicator-10"></div>
            </div>
            
            <div class="center-number"><span1>0</span1>/<span>10</span></div>
            
            <div class="column">
                <div class="indicator-box" id="indicator-11"></div>
                <div class="indicator-box" id="indicator-12"></div>
                <div class="indicator-box" id="indicator-13"></div>
                <div class="indicator-box" id="indicator-14"></div>
                <div class="indicator-box" id="indicator-15"></div>
                <div class="indicator-box" id="indicator-16"></div>
                <div class="indicator-box" id="indicator-17"></div>
                <div class="indicator-box" id="indicator-18"></div>
                <div class="indicator-box" id="indicator-19"></div>
                <div class="indicator-box" id="indicator-20"></div>
            </div>
        </div></div>

        <button id="submit-bonus">Обменять</button>
        
    </div>
    <ul class="tier-list">
        
        <li class="tier-box">
            <div>
                <img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt="">
            </div>
            <h1>10</h1>
        </li>
        <li class="tier-box">
            <div>
                <img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt="">
            </div>
            <h1>15</h1>
        </li>
        <li class="tier-box">
            <div>
                <img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt="">
            </div>
            <h1>20</h1>
        </li>
    </ul>
</div>
<div>
<div class="mobile Copy-link">Ссылка для приглашений</div>
    <div class="copy-link">
        <div class="not-mobile">
            <h2 style="color: var(--white1);">COPY</h2>
        </div>

        <div class="not-mobile">
            <h2 style="color: var(--white1);">-</h2>
        </div>

        <div class="copy-box">
            <img id="copy-ym" src="/static/img/profile/Copy.svg" alt="">
            <div class="mobile"><img src="/static/img/profile/manyarrows.svg" alt=""></div>
        </div>

        <div class="not-mobile">
            <h2>-</h2>
        </div>

        <div class="not-mobile">
            <h2>Ссылка для <br> приглашений</h2>
        </div>
    </div>
</div>
<div class="bottom-box">

    <div class="choose-product">Выбрать другой товар</div>

    <div class="slider-choose" data-count="10, 15, 20">
        <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
        <script defer src="/static/slick/slick.min.js"></script>
        <button class="slick-arrow prev"><img src="/static/img/profile/datsprevpromo.svg" alt=""></button>
        
        <div id="bonus-10">
            <div>
                <div class="slider-img" id="product-1"><img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt=""></div>
                <h1>Adidas Dunk Low</h1>
            </div><div>
                <div class="slider-img" id="product-2"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>Kenzo Dunk Low 2</h1>
            </div><div>
                <div class="slider-img" id="product-3"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>Kenzo Dunk Low 3</h1>
            </div><div>
                <div class="slider-img" id="product-4"><img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt=""></div>
                <h1>Supreme Dunk Low 4</h1>
            </div><div>
                <div class="slider-img" id="product-5"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>RAlEX Dunk Low 5</h1>
            </div><div>
                <div class="slider-img" id="product-6"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>BURBEN Dunk Low 6</h1>
            </div>
        </div>  
        
        <div id="bonus-15">
            <div>
                <div class="slider-img" id="product-1"><img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt=""></div>
                <h1>Adidas Dunk Low</h1>
            </div><div>
                <div class="slider-img" id="product-2"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>Kenzo Dunk Low 2</h1>
            </div><div>
                <div class="slider-img" id="product-3"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>Kenzo Dunk Low 3</h1>
            </div><div>
                <div class="slider-img" id="product-4"><img src="/media/product_images/D50W7cEu6LQ_fXMpDfa.jpg" alt=""></div>
                <h1>Supreme Dunk Low 4</h1>
            </div><div>
                <div class="slider-img" id="product-5"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>RAlEX Dunk Low 5</h1>
            </div><div>
                <div class="slider-img" id="product-6"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>BURBEN Dunk Low 6</h1>
            </div>
        </div>  
        
        <div id="bonus-20">
            <div>
                <div class="slider-img" id="product-2"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>Kenzo Dunk Low 2</h1>
            </div><div>
                <div class="slider-img" id="product-3"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>Kenzo Dunk Low 3</h1>
            </div><div>
                <div class="slider-img" id="product-5"><img src="/media/product_images/iGIDei3GqMw_MSKvpdj.jpg" alt=""></div>
                <h1>RAlEX Dunk Low 5</h1>
            </div>
        </div>  
        
        <button class="slick-arrow next"><img src="/static/img/profile/datsnextpromo.svg" alt=""></button>
    </div>

    <div class="choose-tier-dots">
        <div class="mpromo cant-go"><img src="/static/img/profile/-promo.svg" alt=""></div>
        
            <h4 class="number-bonus" id="number-bonus-10">10</h4>
        
            <h4 class="number-bonus" id="number-bonus-15">15</h4>
        
            <h4 class="number-bonus" id="number-bonus-20">20</h4>
        
        <div class="ppromo"><img src="/static/img/profile/+promo.svg" alt=""></div>
    </div>
    <h5>Количество приглашений</h5> 
</div>