@font-face {
    font-family:    "Inter";
    font-style:     normal;
    font-weight:    100 900;
    font-display:   fallback;
    src: url(Inter-VariableFont.ttf) format("truetype-variations");
}

@font-face {
    font-family:    "Wix";
    font-style:     normal;
    font-weight:    100 900;
    font-display:   fallback;
    src: url(WixMadeforDisplay-VariableFont.ttf) format("truetype-variations");
}

@font-face{
    font-family: "Abhaya Libre ExtraBold";
    src: url("AbhayaLibre-ExtraBold.ttf") format("truetype-variations");
    font-weight: 400;
}

ol, ul, p, h1, h2, h3, h4, h5, h6, li{
    list-style-type:      unset;
    margin-block-start:   unset;
    margin-block-end:     unset;
    margin-inline-start:  unset;
    margin-inline-end:    unset;
    padding-inline-start: unset;
    font-size:            unset;
    font-weight:          unset;
    font-style:           normal;
    text-align:           unset;
}