@import url(../font/font.css);

.hidden {
    display: none !important;
}

body {
    user-select: none;
    -moz-user-select:    none;
    -webkit-user-select: none;
    list-style: none;
    margin: 0px;
}

button {
    border: none;
    padding: 0;
    margin: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
    background: #00000000;
}

img {
    width:              100%;
    height:             100%;
    object-fit:         contain;
    pointer-events:     none;
    user-select:        none;
    -ms-user-select:    none;
    -moz-user-select:   none;
    -webkit-user-select:none;
}

a,a:active,a:visited,a.hover {
    text-decoration: none;
    color:           #000000;
    display:         block;
}

input:disabled {
    cursor:            pointer;
    background-color:#ffffff00;
    color:           #ffffff00;
    border-color:    #ffffff00;
}

.overlay {
    background-color:   black;
    position:   absolute;
    z-index:    3;
    opacity:    0; 

    left:       0;
    top:        auto;
    transition: opacity 0.2s ease;
    transition-delay: 0.1s;
}

.overlay.active { 
    width:      100%;
    height:     200%;
    opacity:    0.6;
}

.overlay-full-z5 {
    z-index: -1;
    top: 0; left: 0;
    background-color:   black;
    position:           fixed;
    opacity:            0;
    transition: opacity 0.2s ease;
    transition-delay: 0.1s;
}

.overlay-full-z5.active {
    width:      100%;
    height:     200%;
    opacity:    0.7; 
    z-index: 5;
}

.cuslide::-webkit-scrollbar-track{background-color: #ffffff00;}
.cuslide::-webkit-scrollbar{width: 4px;background-color: #D9D9D9;}
.cuslide::-webkit-scrollbar-thumb{background-color: var(--grey4);}
/*//////*/

.small-brand {
    max-width: 80px;
    height:    40px;
    width:     100%;
    margin-bottom: 3px;
}

/*//////*/
:root {
    --red2:   #ff2525;
    --red1:   #FF6A6A;

    --white6: #E4E4E4;
    --white5: #F0F0F0;
    --white4: #E7E7E7;
    --white3: #D9D9D9;
    --white2: #d2d2d2;
    --white1: #BEBEBE;
    --grey4:  #929292;
    --grey3:  #858585;
    --grey2:  #757575;
    --grey1:  #6B6B6B;
    --black5: #4E4E4E;
    --black4: #414141;
    --black3: #383838;
    --black2: #2f2f2f;
    --black1: #1B1B1B;
    --paddingPage: 200px;
    --smallicon:   34px;
}

.notifications-container{
    background-color: #ffffff00;
    position: fixed; 
    left:     100px;
    bottom:   60px;
    display:  grid;
    gap:      20px;
    z-index:  10;
}
.notification {
    font-family: "Inter";
    font-weight: 500;
    font-size: 16px;

    border:           3px solid var(--black3);
    border-radius:    6px;
    padding:          20px;
    background-color: var(--white3);
    z-index:          10;
    display:          grid;
    align-items:      center;
    justify-content:  center;
}

.Header{
    margin: 21px var(--paddingPage);
    height: 100px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.Header-left {
    flex-direction: row;
    align-items: flex-start;
    display: flex;
    padding: 0px;
    gap:     47px;

    font-family: 'Inter';
    font-style:  normal;
    font-weight: 600;
    font-size:   19px;
    line-height: 23px;
}

.Header-center {
    display:     grid;
    align-items: center;
    justify-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: 'Inter';
    font-style:  normal;
    font-weight: 800;
    font-size:   96px;
    line-height: 116px;    
}

.Header-right {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;
    gap: 32px;
}

.small-icon {
    width:      var(--smallicon);
    height:     var(--smallicon);
    cursor:     pointer;
    background: transparent;
}
.Header-cat {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    position: relative;


    font-family: 'Inter';
    font-size:   28px;
    line-height: 34px;
    margin:      0px var(--paddingPage);
}

/* tabs */
#tab-btn-1:checked~.content #content-1,
#tab-btn-2:checked~.content #content-2,
#tab-btn-3:checked~.content #content-3,
#tab-btn-4:checked~.content #content-4,
#tab-btn-5:checked~.content #content-5,
#tab-btn-6:checked~.content #content-6,
#tab-btn-7:checked~.content #content-7,
#tab-btn-8:checked~.content #content-8,
#tab-btn-9:checked~.content #content-9,
#tab-btn-10:checked~.content + #content-10,
#tab-btn-11:checked~.content + #content-11 {
    opacity: 1;
    height: 100%;
}

.tabs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    width: 100%;
}

.contents {
    top: 40px;
    z-index: 4;
    height: 0;
    transition: all 0.2s ease-in-out;
}

.contents h1{
    font-weight:    600;
    font-size:      24px;
    line-height:    29px;
    margin-bottom:  25px;
}
.contents a{
    font-weight:    400;
    font-size:      19px;
    line-height:    23px;
    color:          var(--grey3);
    margin-bottom:  15px;
}


.contents .dropdown-content {
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;

    opacity:    0;
    height:     0px;
    padding:    0px var(--paddingPage);

    width:      -webkit-fill-available;

    transition-delay: 0.1s;
    overflow:   hidden;
    grid-template-columns: 1fr 1fr 1fr;
}

.contents .dropdown-content.active {
    height: max-content;
    min-height: 290px;
    opacity: 1;
}

.contents .dropdown-content .imcengs {
    height: 250px;
    width: 250px;
}

.contents.active {
    position: absolute;
    width: calc(100% + 2 * var(--paddingPage));
    height: auto;
    left: calc(var(--paddingPage) * -1);
    background-color: white;
}

.left, .right, .center {flex: none;align-self: stretch;flex-grow: 0;margin: 60px 0px;}
.left, .right {display: grid;grid-auto-rows: min-content;}
.left   {order: 0;}
.center {order: 1;justify-items: start}
.right  {order: 2;justify-items: end}

.tabs input[type="radio"]:checked+label {
    font-weight: 600;
    cursor: default;
}

.tabs label {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 19px;
    letter-spacing: -0.005em;
    
    padding: 5.5px 0px;
}

.tabs label.active {
    font-weight: 600;
    cursor: pointer;
}
/* -tabs- */

textarea:focus, input:focus {
    outline: none;
}

input::-ms-clear {  display: none; width : 0; height: 0; } /* Убираем крестик с input */
input::-ms-reveal {  display: none; width : 0; height: 0; }
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.alert-JS {
    font-family:   'Inter';
    text-align:    center;
    font-size:     70px;
    height:        100px;
    color:       #e43232;
    margin:        60px 0px;
}

