<div class="info-number">
    <div class="fake-nav"></div>
    <div class="user-info">
        <div class="selected-img">
            <img src="" alt="">
        </div>
        
        <h1>0 друзей приглашено</h1>

        <div class="indicator-selected">
            <div class="column">
                <div class="indicator-box" id="indicator-1"></div>
                <div class="indicator-box" id="indicator-2"></div>
                <div class="indicator-box" id="indicator-3"></div>
                <div class="indicator-box" id="indicator-4"></div>
                <div class="indicator-box" id="indicator-5"></div>
                <div class="indicator-box" id="indicator-6"></div>
                <div class="indicator-box" id="indicator-7"></div>
                <div class="indicator-box" id="indicator-8"></div>
                <div class="indicator-box" id="indicator-9"></div>
                <div class="indicator-box" id="indicator-10"></div>
            </div>
            
            <div class="center-number">0/20</div>
            
            <div class="column">
                <div class="indicator-box" id="indicator-11"></div>
                <div class="indicator-box" id="indicator-12"></div>
                <div class="indicator-box" id="indicator-13"></div>
                <div class="indicator-box" id="indicator-14"></div>
                <div class="indicator-box" id="indicator-15"></div>
                <div class="indicator-box" id="indicator-16"></div>
                <div class="indicator-box" id="indicator-17"></div>
                <div class="indicator-box" id="indicator-18"></div>
                <div class="indicator-box" id="indicator-19"></div>
                <div class="indicator-box" id="indicator-20"></div>
            </div>
        </div>

        <button type="submit" disabled>Обменять</button>
        
    </div>
    <ul class="tier-list">
        <li class="tier-box">
            <div>
                <img src="" alt="">
            </div>
            <h1>10</h1>
        </li>
    </ul>
</div>

<div class="bottom-box">
    <div class="copy-link">
        <h2 style="color: var(--white1);">Copy</h2>
        <h2 style="color: var(--white1);">-</h2>
        <div class="copy-box">
            <img src="/static/img/profile/Copy.svg" alt="">
        </div>
        <h2>-</h2>
        <h2>Ссылка для <br> приглашений</h2>
    </div>

    <div class="choose-product">Выбрать другой товар</div>

    <div class="slider-choose">
        <link rel="stylesheet" type="text/css" href="/static/slick/slick.css"/>
        <script defer src="/static/slick/slick.min.js"></script>
        <!-- <button class="slider__btn_prev"><img src="/static/img/profile/datsprevpromo.svg" alt=""></button> -->
        <div class="slider__wrapper">
            <div class="slider__item"><div class="slider-img"><img src="" alt=""></div><h1></h1></div>
        </div>
        <!-- <button class="slider__btn_next"><img src="/static/img/profile/datsnextpromo.svg" alt=""></button> -->
    </div>

    <div class="choose-tier-dots">
        <div><img src="/static/img/profile/-promo.svg" alt=""></div> 
        <h4>20</h4>
        <div><img src="/static/img/profile/+promo.svg" alt=""></div>
    </div>
    <h5>Количество приглашений</h5> 
</div>