{% extends "main/Header.html" %}

{% block title %} Обратная связь {% endblock %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'css/callback.css'%}"> {% endblock %}

{% block body %}

<div class="top">
    <h1 style="color: var(--white2);">ОБРАТНАЯ</h1>
    <h1>СВЯЗЬ</h1>
</div>
<div class="questions">
    <div class="question ">
        <h2>Коммерчиские вопросы</h2>
    </div>
    
    <div class="text-question">
        <h3>+7999999999</h3>
        <h3>png_png_png@gmail.com</h3>
    </div>

    <div class="question ">
        <h2>Вопросы по сайту</h2>
    </div>

    <div>
        <h3>
            <a style="color: #006EAC;" href="">Телеграм бот</a>
        </h3>
    </div>
</div>

{% endblock %}