

<div class="dropdown-content" id="brand">
    <div class="left"><!-- Бренды -->
        <h1> Категории </h1>
        NOT WORKING
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/brand.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        NOT WORKING
    </div>
</div>


<div class="dropdown-content" id="shoe">
    <div class="left"><!-- Обувь -->
        <h1> Категории </h1> 
        <a href="/productlist/shoe/category/Ботинки">Ботинки</a>
        <a href="/productlist/shoe/category/Кроссовки">Кроссовки</a>
        
        <a href="/productlist/shoe">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/shoe.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        <a href="/productlist/shoe/brand/Adidas">Adidas</a>
        <a href="/productlist/shoe/brand/BURBEN">BURBEN</a>
        <a href="/productlist/shoe/brand/Kenzo">Kenzo</a>
        <a href="/productlist/shoe/brand/RAlEX">RAlEX</a>
        <a href="/productlist/shoe/brand/Supreme">Supreme</a>
        
        <a href="/productlist/shoe">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="cloths">
    <div class="left"><!-- ОДЕЖДА -->
        <h1> Категории </h1>
        
        <a href="/productlist/cloths">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/cloth.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/cloths">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="bags">
    <div class="left"><!-- СУМКИ -->
        <h1> Категории </h1>
        
        <a href="/productlist/bags">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/bags.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/bags">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="clocks">
    <div class="left"><!-- ЧАСЫ -->
        <h1> Категории </h1>
        
        <a href="/productlist/clocks">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/clock.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/clocks">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="accessorie">
    <div class="left"><!-- АКСЕССУАРЫ -->
        <h1> Категории </h1>
        
        <a href="/productlist/accessories">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/accs.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/accessories">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="cosmetic">
    <div class="left"><!-- КОСМЕТИКА -->
        <h1> Категории </h1>
        
        <a href="/productlist/cosmetics">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/cosmetic.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/cosmetics">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="technique">
    <div class="left"><!-- ТЕХНИКА -->
        <h1> Категории </h1>
        
        <a href="/productlist/technique">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/tech.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/technique">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="toys">
    <div class="left"><!-- ИГРУШКИ -->
        <h1> Категории </h1>
        
        <a href="/productlist/toys">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/toy.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/toys">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="sport">
    <div class="left"><!-- Спорт -->
        <h1> Категории </h1>
        
        <a href="/productlist/sport">Все категории</a>
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/sport.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        
        <a href="/productlist/sport">Все бренды</a>
    </div>
</div>


<div class="dropdown-content" id="rubrand">
    <div class="left"><!-- РУ-БРЕНДЫ -->
        <h1> Категории </h1>
        NOT WORKING
    </div>
    <div class="center imcengs">
        <img src="/static/img/header/rubrand.png" alt="">
    </div>
    <div class="right">
        <h1> Бренды </h1>
        NOT WORKING
    </div>
</div>