{% extends "main/Header.html" %}

{% block title %}{{ product.brand }} {{ product.name }}{% endblock %}
{% load static %}
{% block link %} 
<link rel="stylesheet" type="text/css" href="{% static 'css/product.css'%}">
<link rel="stylesheet" href="{% static 'css/product-detail.css'%}">
{% endblock %}


{% block body %}

<div class="product-all grid-center" id="allin">
    {% if not user.is_authenticated %}
    <div class="is_authenticated">
        <div class="tireg">Войдите в аккаунт <button onclick="closereg()"><img src="/static/img/product/close.svg" alt=""></button></div>
        <p>Для того что бы продолжить покупку и оформить заказ вам понадобится войти в аккаунт для сохранения вашего выбора</p>
        <a href="/accounts/login/?next=/product/{{ product.uid }}">Войти</a>
    </div>
    {% endif %}
        <div class="mobile">
            <div class="brand"><img src="{{MEDIA_URL}}{{ product.brand.font }}" alt=""></div>
        </div>
    <div class="not-mobile">
        {% if product.image2%}
        <ul class="itc-slider__indicators product-left flex-center">
            <div class="left-column-1">
                {% if product.image6 %}
                <li id="ind-5" data-slide-to="5" class="slider-indicator img-left"><img src="{{MEDIA_URL}}{{ product.image6 }}" alt=""></li>{% endif %}
                {% if product.image5 %}
                <li id="ind-4" data-slide-to="4" class="slider-indicator img-left"><img src="{{MEDIA_URL}}{{ product.image5 }}" alt=""></li>{% endif %}
                {% if product.image4 %}
                <li id="ind-3" data-slide-to="3" class="slider-indicator img-left"><img src="{{MEDIA_URL}}{{ product.image4 }}" alt=""></li>{% endif %}
            </div>
            <div class="left-column-2">
                {% if product.image2 %}
                <li id="ind-0" data-slide-to="0" class="slider-indicator img-left active"><img src="{{MEDIA_URL}}{{ product.image1 }}" alt=""></li>{% endif %}
                {% if product.image2 %}
                <li id="ind-1" data-slide-to="1" class="slider-indicator img-left"><img src="{{MEDIA_URL}}{{ product.image2 }}" alt=""></li>{% endif %}
                {% if product.image3 %}
                <li id="ind-2" data-slide-to="2" class="slider-indicator img-left"><img src="{{MEDIA_URL}}{{ product.image3 }}" alt=""></li>{% endif %}
            </div> 
        </ul>
        {%  endif %}
    </div>
    {% load utils_tags %}
    <div class="product-center flex-center">
        <div class="img-like {% if usercart %}{% if product.uid|to_string in user.favorite %}like{% endif %}{% else %}disabled{% endif %} mobile" data-product-id="{{ product.uid }}">
            <svg width="100%" height="100%" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M10.7121 5.01862L12.0275 7.22183L13.3019 4.99462C14.4578 2.97458 15.6065 2.04566 16.5325 1.69286C17.4124 1.35763 18.2825 1.46785 19.1329 1.9629C20.9509 3.02122 22.5 5.79097 22.5 8.75356C22.5 11.6323 21.0563 14.4597 18.8579 16.9545C16.8691 19.2114 14.3649 21.0757 12.1087 22.3073C9.83689 21.0719 7.27928 19.2028 5.24002 16.9416C2.98379 14.4399 1.5 11.617 1.5 8.75356C1.5 5.77085 3.0095 3.00862 4.79162 1.95906C5.62129 1.47043 6.48359 1.35572 7.37868 1.69419C8.32365 2.05151 9.50129 2.99067 10.7121 5.01862Z" stroke-width="3"/>
            </svg>                    
        </div>
        {% if product.image2 %}
        <button class="slider__btn_prev"><img src="{% static 'img/datsprev.svg' %}" alt=""></button>
        {% endif %}
        <div class="slider__wrapper">
            <div class="slider__item"><img src="{{MEDIA_URL}}{{ product.image1 }}" alt=""></div>
            {% if product.image2 %}
            <div class="slider__item"><img src="{{MEDIA_URL}}{{ product.image2 }}" alt=""></div>{% endif %}
            {% if product.image3 %}
            <div class="slider__item"><img src="{{MEDIA_URL}}{{ product.image3 }}" alt=""></div>{% endif %}
            {% if product.image4 %}
            <div class="slider__item"><img src="{{MEDIA_URL}}{{ product.image4 }}" alt=""></div>{% endif %}
            {% if product.image5 %}
            <div class="slider__item"><img src="{{MEDIA_URL}}{{ product.image5 }}" alt=""></div>{% endif %}
            {% if product.image6 %}
            <div class="slider__item"><img src="{{MEDIA_URL}}{{ product.image6 }}" alt=""></div>{% endif %}
        </div>
        {% if product.image2 %}
        <button class="slider__btn_next"><img src="{% static 'img/datsnext.svg' %}" alt=""></button>
        {% endif %}
    </div>
    <div class="product-right">
        <div class="not-mobile">
            <div class="brand"><img src="{{MEDIA_URL}}{{ product.brand.font }}" alt=""></div>
        </div>
        <div class="name">{{ product.name }}</div>
        <div class="price" id="price-display">
            <span>{{min_price}}</span>
            <div class="img-like {% if usercart %}{% if product.uid|to_string in user.favorite %}like{% endif %}{% else %}disabled{% endif %} not-mobile" data-product-id="{{ product.uid }}">
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M10.7121 5.01862L12.0275 7.22183L13.3019 4.99462C14.4578 2.97458 15.6065 2.04566 16.5325 1.69286C17.4124 1.35763 18.2825 1.46785 19.1329 1.9629C20.9509 3.02122 22.5 5.79097 22.5 8.75356C22.5 11.6323 21.0563 14.4597 18.8579 16.9545C16.8691 19.2114 14.3649 21.0757 12.1087 22.3073C9.83689 21.0719 7.27928 19.2028 5.24002 16.9416C2.98379 14.4399 1.5 11.617 1.5 8.75356C1.5 5.77085 3.0095 3.00862 4.79162 1.95906C5.62129 1.47043 6.48359 1.35572 7.37868 1.69419C8.32365 2.05151 9.50129 2.99067 10.7121 5.01862Z" stroke="#6F6F6F" stroke-width="3"/>
                </svg>                                 
            </div>
        </div>

        <div class="size-chart">
            <span>Размерная сетка</span>
        </div>
        
        <div class="dropdown-size">
            <div class="dropdown">
                <label for="touch-size">
                    <span>Размеры</span>
                    <div class="arrow">
                        <img src="{% static 'img/product/arrow.svg' %}" alt="">
                    </div>
                </label>       
                <input hidden type="checkbox" id="touch-size"> 
                <div class="slideli-box">
                    <ul class="slideli">
                        {% for key,value in prices.items %}
                            <li id="{{ key }}" data-size="{{ key }}" data-value="{{ value|takefirst }}" data-cart="{{ value|takesecond }}">
                                <div class="pricein">{{value|takefirst}}{% if value|takefirst != "-" %}₽{% endif %}</div>
                                <div class="sepaprice">PNG</div>
                                <div class="div-size">{{key}}</div>
                            </li>  
                        {% endfor %}
                    </ul>
                </div>
                <div class="addBox">
                    <div class="add-cart-box {% if not usercart %}disabled{% endif %}"> 
                        <!-- disabled - если пользователь не авторизован -->
                        <div class="checkmark"><img src="{% static 'img/product/checkmark.svg' %}" alt=""></div>
                        <div class="add_cart">Добавить в корзину</div>
                    </div>
                </div>
            </div> 
        </div>


        {% if product.composition %}
        <div class="composition">
            <h1>Состав</h1> 
            <h2 class="slide" >{{ product.composition|linebreaks }}</h2>
            
        </div> {% endif %}
        {% if product.content %}
        <div class="content"> 
            <h1>Содержание</h1>
            <h2 class="slide" >{{ product.content|linebreaks }}</h2> 
        </div> {% endif %}
    </div>
</div>
<div class="size-chart-box">
    <div class="up-sizechart">
        <p>Размеры</p>
        <div class="close-sizechart" ><img src="{% static 'img/product/close.svg' %}" alt=""></div>
    </div>
    <div  class="sizechart">
        <img src="{{MEDIA_URL}}{{product.sizechart}}" alt="">
    </div>
    <div class="howsize">
        <button class="buthow" onclick="showsizehow()">Узнать размер стельки</button>
    </div>
</div>
<div class="container-how">
    <div class="how">
        <div class="not-mobile"><button onclick="closehow()"><img src="/static/img/product/close.svg" alt=""></button></div>
        <h4>Узнать размер стельки</h4>
        <div class="howtwo">
            <ul class="text">
                <li> Достаньте стельку из под вашей обуви</li>
                <li> Возьмите рулетку или линейку</li>
                <li> Измерьте длину стельки</li>
                <li> Полученный результат сверьте с таблицой ( в см )</li>
            </ul>
            <div class="img-how">
                <img src="/static/img/support/img-size.png" alt="">
            </div>
        </div>
    </div>
</div>

<div class="recommendation">
    <h1>Рекомендации</h1>
    <ul class="recommendation-box">

    {% if recProducts %}
        {% for key,el in recProducts.items %}
        <li class="product">
            <div class="img-product">
                <a href="/product/{{ el.uid }}"><img src="{{MEDIA_URL}}{{el.img}}" alt=""></a>
            </div>
            <div class="product-down">
                <div class="brand">
                <img src="{{MEDIA_URL}}{{el.brand}}" alt="">
                </div>
                    <div class="name"> {{el.name}}</div>
                    <div class="price"> {{el.price}} </div>
            </div>
        </li>
        {% endfor %}
        
        {% else %}
        <h2>У товара пока что нету рекомендованных товаров</h2>
        {% endif %}
    </ul>
    
    {% if recProducts2 %}
    <label id="more_rec">Показать еще</label>
    <ul class="recommendation-box two active"> 
        {% for key,el in recProducts2.items %}
        <li class="product">
            <div class="img-product">
                <a href="/product/{{ el.uid }}"><img src="{{MEDIA_URL}}{{el.img}}" alt=""></a>
            </div>
            <div class="product-down">
                <div class="brand">
                <img src="{{MEDIA_URL}}{{el.brand}}" alt="">
                </div>
                <div class="name"> {{el.name}}</div>
                <div class="price"> {{el.price}} </div>
            </div>
        </li>
        {% endfor %}
    </ul>
    {% endif %}
</div>

<link rel="stylesheet" type="text/css" href="{% static 'slick/slick.css' %}"/>
<script defer src="{% static 'slick/slick.min.js' %}"></script>

<script type="text/javascript" src="{% static 'JS/product.js' %}"></script>
{% endblock %}