{% extends "main/Header.html" %}

{% block title %} Помощь {% endblock %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'css/support.css'%}"> {% endblock %}

{% block body %}
<div class="questions-al">
    <h3>ПОМОЩЬ</h3>
    <div class="listquestions">
        <a class="question" href="#nav-original" onclick="openhelp('.original')"><div></div>
            <div class="img-question"><img src="{% static 'img/support/original.png' %}" alt=""></div>
            <p>О товарах</p></a>
        <a class="question" href="#nav-wheremy" onclick="openhelp('.wheremy')">
            <div class="img-question"><img src="{% static 'img/support/wheremy.svg' %}" alt=""></div>
            <p>Где мой заказ?</p></a>
        <a class="question" href="#nav-deliver" onclick="openhelp('.deliver')">
            <div class="img-question"><img src="{% static 'img/support/deliver.svg' %}" alt=""></div>
            <p>Доставка</p></a>
        <a class="question" href="#nav-bonus" onclick="openhelp('.bonus')">
            <div class="img-question"><img src="{% static 'img/support/bonus.svg' %}" alt=""></div>
            <p>Бонусы</p></a>
        <a class="question" href="#nav-order" onclick="openhelp('.order')">
            <div class="img-question"><img src="{% static 'img/support/order.svg' %}" alt=""></div>
            <p>Как оформить</p></a>
        <div class="mobile">
            <a class="question" href="#nav-about" onclick="openhelp('.about')">
                <div class="img-question"><img src="{% static 'img/support/about.svg' %}" alt=""></div>
                <p>О PNG</p></a>
        </div>
    </div>
    <ul class="questions">
        <h2>ВОПРОСЫ</h2>
        <li class="question-a wheremy" id="nav-wheremy">
            <label for="wheremy">
                <p>Где мой заказ?</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="wheremy">
            <div class="text-question">
                Ваш заказ находится в процессе обработки и ожидается доставка через 15-18 дней. Вы можете отслеживать статус заказа в Профиле. Ждите обновлений в нашем Телеграм-боте PNGbot. Если у вас есть вопросы, обращайтесь к нашей службе поддержки. 
            </div>
        </li>
        <li class="question-a wherefrom">
            <label for="wherefrom">
                <p>Откуда все товары?</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="wherefrom">
            <div class="text-question">
                Товары поставляются из разных магазинов и стран. Мы работаем с надежными производителями и поставщиками. Цель - предложить широкий ассортимент товаров по разумным ценам. Цены могут меняться в течение дня. Сроки доставки зависят от страны отправления. Мы непрерывно расширяем нашу сеть поставок и стремимся обеспечить быструю доставку.
            </div>
        </li>
        <li class="question-a original" id="nav-original">
            <label for="original">
                <p>Оригинал ли это?</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="original">
            <div class="text-question">
                Все товары, которые мы предлагаем, являются абсолютно оригинальными. Мы гарантируем, что каждый товар, который вы приобретаете у нас, соответствует высочайшим стандартам качества и подлинности. При получении вы можете проверить это через экспертов или лично.
            </div>
        </li>
        <li class="question-a order" id="nav-order">
            <label for="order">
                <p>Как оформить заказ?</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="order">
            <div class="text-question">
                Чтобы оформить заказ, следуйте простым шагам:
                <br><br>
                1) Просмотрите наш каталог товаров и выберите понравившиеся вам товары.
                <br><br>
                2) Нажмите на кнопку "В корзину" рядом с товарами, которые вы хотите приобрести.
                <br><br>
                3) Перейдите в корзину, где вы сможете просмотреть выбранные товары и убедиться, что все правильно.
                <br><br>
                4) Заполните необходимые данные для оформления заказа, включая информацию о доставке и другое в разделе Оплата 
                <br><br>
                5) После ввода всех данных, нажмите кнопку "Заказать".
                <br><br>
                6) Теперь ваш заказ отобразится в разделе "Покупки". Вы сможете отслеживать статус заказа и получать информацию о доставке.
            </div>
        </li>
        <li class="question-a size">
            <label for="size">
                <p>Как подобрать размер</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="size">
            <div class="text-question" style="display: flex;">
                <ul>
                    <br><li>1. Достаньте стельку из под вашей обуви</li>
                    <br><li>2. Возьмите рулетку или линейку</li>
                    <br><li>3. Измерьте длину стельки</li>
                    <br><li>4. Полученный результат сверьте с таблицой (в см.)</li>
                </ul>
                <div class="img-size"><img src="{% static 'img/support/img-size.png' %}" alt=""></div>
            </div>
        </li>
        <li class="question-a bonus" id="nav-bonus">
            <label for="bonus">
                <p>Бонусная система</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="bonus">
            <div class="text-question">
                Вы гарантированно получаете бесплатный товар из предложенного выбора, достигнув определенного количества. <br><br>
                Товары из выбора ( 15, 20, 25, 30 баллов приглашений )
                <br><br>Вы получаете +1 балл в свою бонусную систему за <b>каждый товар</b>, заказанный вашим другом.
                <br><br>Ваш друг получает скидку, а вы бонусы, которые в дальнейшем можно будет обменять на одежду.
                <br><br>Если вы пригласили кого-то, но он не сделал заказ, в вашем счетчике будет серая метка которая говорит о том, что покупатель еще не сделал заказ
            </div>
        </li>
        <li class="question-a deliver" id="nav-deliver">
            <label for="deliver">
                <p>СДЭК и Почта России</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="deliver">
            <div class="text-question">
                Ожидайте обновлений о доставке через мобильное приложение, если используеься служба доставки СДЭК, или по трек-номеру на сайте, если используется Почта России.
                Мы стремимся отправить все заказы в течение 1-3 дней после подтверждения заказа. Если прошло больше времени и вы не получили обновлений о доставке, рекомендуется обратиться в нашу службу поддержки клиентов.
            </div>
        </li>
        <li class="question-a about" id="nav-about">
            <label for="about">
                <p>О ПНГ</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="about">
            <div class="text-question">
                Мы - молодая команда из Москвы, стоящая за проектом, который стремится быть лидером в мире продаж товаров и следовать последним трендам.
                Наша команда придает большое значение качеству доставки товаров. Мы понимаем, что каждый клиент важен.Спасибо, что выбрали нас! Мы стремимся сделать ваше покупательское путешествие приятным и комфортным, и готовы предложить вам лучший сервис и качество.
            </div>
        </li>
    </ul>
</div>

<script type="text/javascript" src="{% static 'JS/support.js' %}"></script>
{% endblock %}


