{% extends "main/Header.html" %}

{% block title %} Помощь {% endblock %}
{% load static %}
{% block link %} <link rel="stylesheet" href="{% static 'css/support.css'%}"> {% endblock %}

{% block body %}
<div class="support-img"><img src="{% static 'img/support.png' %}" class="logo" alt="" style="height: 100%;"></div> 
<div class="questions-al">
    <h3>Часто задаваемые вопросы</h3>
    <div class="listquestions">
        <a class="question" href="#deliver" onclick="openhelp('.deliver')"><div></div>
            <div class="img-question"><img src="{% static 'img/support/deliver.png' %}" alt=""></div>
            <p>Доставка</p></a>
        <a class="question" href="#price" onclick="openhelp('.price')">
            <div class="img-question"><img src="{% static 'img/support/price.jpg' %}" alt=""></div>
            <p>Цены и расценки</p></a>
        <a class="question" href="#wherefrom" onclick="openhelp('.wherefrom')">
            <div class="img-question"><img src="{% static 'img/support/wherefrom.png' %}" alt=""></div>
            <p>Откуда товары</p></a>
        <a class="question" href="#wheremy" onclick="openhelp('.wheremy')">
            <div class="img-question"><img src="{% static 'img/support/order.png' %}" alt=""></div>
            <p>Заказ</p></a>
        <a class="question" href="#about" onclick="openhelp('.about')">
            <div class="img-question"><img src="{% static 'img/support/about.png' %}" alt=""></div>
            <p>О PNG</p></a>
    </div>
    <ul class="questions">
        <h2>Вопросы</h2>
        <li class="question-a safety">
            <label for="safety" class="active">
                <p>Гарантия</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input checked type="checkbox" id="safety">
            <div class="text-question active">
                PNG гарантирует своим клиентам качество и подлинность всех товаров нашего ассортимента, так как мы работаем только с проверенными поставщиками и бережно отслеживаем качество всех продуктов. Мы готовы нести ответственность за каждый товар, который попадает на нашу продажу, чтобы вы всегда были уверены в своих покупках.<br><br>
                Важно понимать, что наш приоритет - удовлетворенность наших клиентов, поэтому мы прилагаем максимум усилий для быстрой и качественной доставки любого товара, заказанного на нашем сайте. Благодаря сотрудничеству с крупнейшими  службами доставки и импорта товаров, мы можем гарантировать доставку в любой уголок страны в указаные сроки.<br><br>
                Наш проект также гордится одним из самых демократичных ценовых предложений на рынке, благодаря которому любой клиент может позволить себе купить качественный товар за доступные цены. Мы готовы делиться нашим благополучием с нашими клиентами и всегда рады дарить добро в виде доступных цен на товары.<br><br>
                Если у вас возникли вопросы или затруднения с заказом товаров на нашем сайте, обратитесь к нашей службе поддержки клиентов - мы всегда готовы оказать помощь и консультацию в любом вопросе, связанном с нашей деятельностью. Мы желаем вам приятных покупок на сайте PNG и надеемся на долгосрочное сотрудничество!</div>
        </li>
        <li class="question-a payment">
            <label for="payment">
                <p>Оплата</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="payment">
            <div class="text-question">
                PNG стремится обеспечить максимально простой и удобный процесс оплаты для всех наших клиентов. Все платежи на нашем сайте проходят в 3 этапа, которые представляют собой:<br><br>
                Покупку товара,<br>Оплату доставки с импорта в Россию <br>И оплату СДЭК или Почтой России. <br>
                Первый этап - это покупка на нашем сайте. Выбрав необходимые товары, вы оплачиваете их через Корзину. Деньги же отправленные вами используем для закупки выбранного вами товара и привоза их на склады. Выкуп товаров происходит сразу после вашей оплаты. Если с товаром что-то случилось, мы сразу же свяжемся с вами через уведомления в нашем телеграм боте, и вы сможете вернуть деньги за возврат товара.<br><br>
                Второй этап - это оплата доставки товара с импорта в Россию. После того, как товар прибыл в Москву выбранным способом доставки, вы должны оплатить стоимость доставки. Стоимость доставки рассчитывается исходя из веса товара и метода доставки (Авто доставка, Авиа доставка или Фаст доставка). Оплатить доставку можно в рублях в разделе ваших заказов в профиле.<br><br>
                Третий этап - это оплата за доставку через СДЭК или Почту России. После того, как вы оплатили товар и доставку, мы отправляем ваш заказ с помощью СДЭКа или Почты России. Оплатить за доставку нужно будет уже на месте при получении товара у службы доставки.</div>
        </li>
        <li class="question-a deliver">
            <label for="deliver">
                <p>Доставка из России в Китай</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="deliver">
            <div class="text-question">
                Если вы хотите оформить заказ на доставку товара на нашем сайте, то вам нужно будет выбрать один из трех типов доставки:<br><br>
                Авто доставка<br>Авиа доставка<br>Фаст доставка<br><br>
                Авиа доставка является самым популярным и оптимальным вариантом доставки. Она быстро довозит ваш товар и имеет невысокую цену в сравнении с другими типами доставки. Цена на доставку рассчитывается исходя из веса товара, который вы заказываете. После того, как вы оформите заказ на доставку, наши сотрудники взвесят ваш товар и рассчитают его доставку. Цена за доставку указывается в долларах, но вы можете оплатить ее в рублях.<br><br>
                Авто доставку можно заказать только от 15 товаров общей суммой, которая превышает 150 000 рублей. Это оптимальный вариант доставки, если вы хотите сэкономить на доставке. Однако, нужно учитывать, что Авто доставка занимает больше времени, чем Авиа доставка. Время доставки составляет от 25 до 35 дней с момента заказа.<br><br>
                Фаст доставка является самым быстрым и дорогим вариантом доставки. Ее цена в 2,5 раза больше, чем у Авиа доставки. Она доставляет товары за 5-7 дней с момента покупки что помогает в некоторых случаях. Однако, если у вас нет необходимости получить товар очень быстро и вы хотите сэкономить на доставке, то лучше выбрать Авиа доставку.</div>
        </li>
        <li class="question-a SDEK">
            <label for="SDEK">
                <p>СДЭК и Почта России</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="SDEK">
            <div class="text-question">
                Если вы хотите заказать доставку товаров на нашем сайте, то у вас есть два варианта доставки - СДЭК и Почта России. Чтобы заказать доставку через СДЭК, вам нужно заполнить данные о доставке в разделе Адреса в профиле.<br><br>
                После заполнения формы данных, вы должны ожидать оповещение в мобильном приложении СДЭК. Когда вы получите заказ в приложении, убедитесь, что все данные в порядке. Если вам нужно изменить какие-либо данные, свяжитесь с нашей службой поддержки.<br><br>
                Важно знать, что СДЭК может появиться не сразу, а в течение 3 дней. Если в течение этого времени вы не получили никакого оповещения, свяжитесь с нами, чтобы проверить состояние вашего заказа.<br><br>
                Если вы не хотите использовать СДЭК, вы можете заказать доставку через Почту России. Чтобы оформить доставку через Почту России, вам нужно изменить форму данных в адресах на Почту России и указать свой индекс почты.</div>
        </li>
        <li class="question-a wheremy">
            <label for="wheremy">
                <p>Где мой заказ?</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="wheremy">
            <div class="text-question">
                Если у вас возникли вопросы о том, где находится ваш заказ, то мы готовы помочь. Ниже приведены некоторые полезные советы для отслеживания заказа на нашем сайте:<br><br>
                Ваш заказ отправляется сразу после оплаты. Если у вас была успешно проведена оплата, то наша служба доставки начнет готовить ваш заказ к отправке.<br><br>
                Для того, чтобы узнать статус своего заказа, зайдите в раздел "Заказы" в своем профиле на сайте. Там вы можете следить за тем, какие этапы прошел ваш заказ и где он находится в данный момент.<br><br>
                Главное следите и ожидайте когда заказ придет на склад. Мы отправляем уведомление в нашего телеграм бота, когда ваш заказ прибывает на склад и готов к взвешиванию и отправкой СДЭКом.<br><br>
                Вполне могут быть и задержки и слишком быстрые прибытия на склад - следите за уведомлениями. Несмотря на наши попытки доставить ваш заказ в самое близкое время, иногда возникают задержки из-за непредвиденных обстоятельств. Поэтому наша рекомендация - следите за уведомлениями нашей службы доставки и не волнуйтесь, мы всегда делаем все возможное, чтобы доставить ваш заказ вовремя.</div>
        </li>
        <li class="question-a wherefrom">
            <label for="wherefrom">
                <p>Откуда все товары?</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="wherefrom">
            <div class="text-question">
                Все товары, которые находятся на нашем сайте, покупаются на торговой площадке Poizon. Это надежная площадка, на которой представлен широкий ассортимент товаров от различных поставщиков. <br><br>
                Мы делаем все возможное, чтобы убедиться, что товары, которые мы закупаем на торговой площадке, являются оригинальными и соответствуют высоким стандартам.  Мы гарантируем, что все товары, которые мы предоставляем на нашем сайте, являются качественными и подлинными. Спасибо, что выбрали нас для покупки!</div>
        </li>
        <li class="question-a price">
            <label for="price">
                <p>Цены</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="price">
            <div class="text-question">
                На цены товаров на нашем сайте могут влиять различные факторы, включая курс доллара и состояние рубля. Изменение цен на товары может происходить каждый день и каждую минуту в зависимости от флуктуаций на рынке и курсов валют. Кроме того, курс валют может влиять на цену доставки, так как оплата за доставку идет в импортной валюте.<br><br>
                Мы стараемся предоставлять наиболее конкурентоспособные цены на товары, а также следим за ценами на рынке, чтобы предоставлять самые выгодные условия для наших клиентов. Мы уверены в том, что наши клиенты получат оригинальную  продукцию по адекватным ценам.</div>
        </li>
        <li class="question-a tex-support">
            <label for="tex-support">
                <p>Техническая поддержка</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="tex-support">
            <div class="text-question">
                Для того, чтобы связаться с технической поддержкой нашего сайта, вы можете воспользоваться елеграм Ботом. Мы готовы помочь нашим клиентам решить любые проблемы и ответить на любые вопросы, связанные с страницами нашего сайта. <br><br>
                Если у вас возникли технические проблемы с нашим сайтом, пожалуйста, не стесняйтесь обращаться к нам для получения помощи!</div>
        </li>
        <li class="question-a size">
            <label for="size">
                <p>Как подобрать размер</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="size">
            <div class="text-question">
                Для подбора нужного размера вещи вам необходимо знать точные данные о вашей стопе, ваш рост и вес. С помощью этих параметров вы сможете получить более точное представление о необходимом размере.<br><br>
                Кроме того, каждый товар на нашем сайте поставляется с размерной сеткой, которую можно найти на странице товара. Размерная сетка дает информацию о различных размерах, исходя из вашей стопы, роста, веса и других параметров. С ее помощью вы сможете точно подобрать размер вещи, который подойдет именно вам.</div>
        </li>
        <li class="question-a about">
            <label for="about">
                <p>О ПНГ</p>
                <div class="arroy-question"><img src="{% static 'img/support/arrow.svg' %}" alt=""></div>
            </label>
            <input type="checkbox" id="about">
            <div class="text-question">
                Скажу лично от себя. я крут. <h6>(он пиздит)</h6> </div>
        </li>
    </ul>
</div>

<script type="text/javascript" src="{% static 'JS/support.js' %}"></script>
{% endblock %}


