.footer {
    display:        flex;
    flex-direction: column;
    font-family:    'Inter';
    font-style:     normal;
    margin: 100px var(--paddingPage) 0px var(--paddingPage);
}

.footer .title {
    font-weight:    800;
    font-size:      58px;
    margin-bottom:  50px;
    letter-spacing: 0.48px;
}
.footer .ftext {
    color:          var(--grey1);
    text-align:     center;
    font-size:      15px;
    font-weight:    400;
    letter-spacing: 0.6px;
}

.footer h1, .footer h2, .footer h3 {
    font-size:    15px;
    font-weight:  400;
    letter-spacing: 0.6px;
}
.footer h1 {margin:      5px 0px;}
.footer h3 {font-weight: 200}

.footer .top-footer a {
    font-size:   16px;
    font-weight: 600;
    margin-top:  40px;
    letter-spacing: 0.64px;
}

.footer .top-footer {
    justify-content: center;
    display:         flex;
    padding:         40px 0px;
    border-top: 2px solid #EEE;
}
.footer .right-footer, .footer .left-footer {
    display: grid;
    align-content: space-around;
}
.footer .right-footer {text-align: end;}

.footer .center-footer {
    text-align: center;
    width:      55%;
}

.bottom-footer {
    border-top:      2px solid #EEE;
    justify-content: space-between;
    padding: 15px 0px;
    display: flex;
}
.footer .top-footer .helpcallback{display: grid}

@media screen and (max-width: 1440px) {
    .footer .title {
        font-size:     48px;
        margin-bottom: 40px;
    }
    .footer .ftext        {font-size: 13px;letter-spacing: 0.52px;}
    .footer .top-footer a {font-size: 14px;margin-top: 30px;letter-spacing: 0.56px;}
    .footer h1, .footer h2, .footer h3 {
        font-size:     13px;
        letter-spacing: 0.52px;
    }
    .footer h1 {margin: 5px 0px;}
    .footer h3 {font-weight: 200;}


    .footer .top-footer {
        margin-bottom: unset;
        padding:       40px 0px 30px 0px;
    }
}
@media screen and (max-width: 500px) {
    .footer {align-items: center;}
    .bottom-footer {flex-direction: column;align-items: center; width: 100%;border-top: 1px solid #EEE;gap: 35px;padding: 35px 0px;margin-top: 35px;}
    .footer .center-footer {width: 100%;display: grid;gap: 35px;}
    
    .footer .title {font-size: 32px;font-weight: 900;margin-bottom: 0px;}
    .footer .ftext {font-size: 14px;}
    .footer .top-footer a {font-size: 15px;margin-top: 0px;}
    .footer h1 {font-size: 13px;margin: 5px 0px;}
    .footer h2 {font-size: 14px;}
    .footer h3 {font-weight: 200;font-size: 14px;}

    .footer .top-footer {margin-bottom: 0px;padding: 30px 0px 0px 0px;border-top: 1px solid #EEE; width: 90%;}
}