.ddfcs {
    display: grid;
    grid-template-columns: minmax(150px,230px) 1fr minmax(150px,230px);
    align-items: center;
}

.ddfcs.active {opacity: 0;height: 0;}

/* Sorting & Filters */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.button-switch {
    display:    flex;
    align-items:center;
    position:   relative;
    margin: 0px 3px;
}

.button-switch span {
    color: var(--black4);
    font-family: 'Inter';
    font-size: 20px;
    font-weight: 600;
}

#Filter-button img {right: -20px;}
#Sorting-button .img2 {left: -20px;}
.button-switch img:not(.mobile) {
    position:   absolute;
    width:      12px;
    height:     8px;
    transition: all 0.2s ease-in-out;
    transform:  translateY(3px);
}
.button-switch.active img:not(.mobile) {
    transform: rotateX(180deg);
}
  /* form */
/* Sorting */
#sorting-form{
    position: relative;
    width:    100%;
    height:   100%;
    display:  grid;
    justify-items: end;
}
/* #sorting-form .box-sort {
transition:    height 0.4s ease-in-out, border-color 0.2s ease-in-out, background-color 0.4s ease-in-out;
width:         100%;
height:        var(--one_line);
position:      absolute;
justify-items: end;
overflow:      hidden;
} */

.bpx-ul {
    position:   absolute;
    max-height: 0px;
    top:        100%;
    width:      100%;
    overflow:   hidden;
}
#sorting-form.active .bpx-ul {
    max-height: 400px !important;
}

#sorting-form ul{
    width:    98%;
    
    display:       grid;
    justify-items: center;
    align-items:   end;
    border:        2px solid #EBEBEB;
    background:    #FFF;
}
#sorting-form button {height: 100%}

#sorting-form ul li.active{background: #F4F4F4;}
#sorting-form ul li:hover{background: #E3E3E3;}
#sorting-form ul li{
    display: flex;justify-content: flex-end;align-items: center;
    cursor:      pointer;
    width:       100%;
    height:      60px;
}
#sorting-form ul li h3{
    color:        var(--black4);
    font-family:  'Inter';
    font-size:    16px;
    font-weight:  500;
    margin-right: 19px;
    letter-spacing: 0.64px;
}

#sorting-form .top {flex-direction: row-reverse;}



/* Filter */

#filter-form {
    top:        0px;
    left:       -550px;
    width:      500px;
    box-shadow: 5px 0px 5px 0px rgba(0, 0, 0, 0.20);
    background-color: #fff;
    position:    fixed;
    display:     grid;
    transition:  left 0.6s ease-in-out;

    height:      100vh;

    font-family: "Inter";
    z-index:     4;
    --gap:       20px;  /* гап много где */
    --gapB:      40px;  /* гап между всем  */
}
#filter-form.active {left: 0;}
#filter-form .top {
    display:         flex;
    align-items:     baseline;
    justify-content: space-between;
    
    padding:         40px var(--pform);
}
#filter-form .close {width:  17px; height: 17px;cursor: pointer;}

#filter-form .bottom {
    padding:    40px var(--pform) 0px var(--pform);
    margin-bottom: 45px;
}

#filter-form nav {
    --pform: 40px;
    height:         100%/* 100vh - padding(nav)*2 */;
    position:       relative;
    display:        flex;
    flex-direction: column;
}

#filter-form h1 {font-size: 28px; font-weight: 700;display: flex; align-items: baseline; gap: 10px;letter-spacing: 1.12px;}
#filter-form p {color: var(--grey2);font-size: 13px;font-weight: 400; cursor: pointer;}
#filter-form h2 {font-size: 18px; font-weight: 500;display: flex; gap: 5px;}
#filter-form label {position: relative;display: flex; align-items: center; cursor: pointer;transition: margin-bottom 0.4s ease-in-out;letter-spacing: 1.08px;}
#filter-form h3 {font-size: 16px; font-weight: 400;display: flex; align-items: baseline; gap: 10px;color: var(--black1);}
#filter-form h4 {font-size: 18px; font-weight: 600;}
#filter-form h5 {font-size: 16px; font-weight: 400;margin-bottom: 10px; color: var(--grey5);}
#filter-form .number {display: flex; opacity: 0;width: 0;}
#filter-form .number.active {opacity: 1;width: auto;}

.star {width: 17px; height: 17px;padding: 4px; border: 3px solid var(--white2);display: grid;}
.star img, .star svg {opacity: 0; transition: opacity 0.2s ease-in-out;width: 100%;height: 100%;}
li.active .star img, li.active .star svg {opacity: 1;}

#filter-form .option-list .mli.first {margin-top: 40px;}
#filter-form .option-list .mli.last  {margin-bottom: 40px;}
#filter-form .option-list .mli {margin: 0px var(--pform);}
#filter-form .option-list {
    display:        flex;
    flex-shrink:    1;
    flex-basis:     0;
    flex-grow:      1;
    overflow-y:     auto;
    flex-direction: column;
    gap:            20px; 
}
#filter-form .option-list input:not(:checked) ~ .box-last {max-height: 0px;}
#filter-form .option-list input:checked ~ .box-last {margin-bottom: 30px;}
#filter-form .option-list input:checked ~ label     {margin-bottom: 30px;}

.box-last {
    transition: max-height 0.4s ease-in-out, margin-bottom 0.4s ease-in-out;
    --mheight:     310px;
    max-height:    var(--mheight);
    overflow:      hidden;
    margin-bottom: 20px;
}

.gin ul h5{
    margin-top: unset;
}

#jin ul:not(:first-child) {margin-top: 20px;}

#filter-form .attr{
    overflow-x: hidden;
    overflow-y: auto;
    display:    grid;
    gap:        var(--gap);
    max-height: var(--mheight);
    margin: 0px 4px 0px 0px;
}

.mli.Brand .attr.last {overflow-x: hidden; overflow-y: hidden !important}

.Brand #bjin {
    display:    grid;
    gap:        40px;
    max-height: calc(var(--mheight) - 90px);
    overflow-x: hidden;
    overflow-y: auto;
}

#filter-form .last li {
    cursor:      pointer;
    display:     flex;
    width:       100%;
    align-items: center;
    gap:         20px;
}

#itlast {
    display: grid;
    gap: var(--gap);
} 

#itlast li.sehide {
    opacity: 0.5;
    cursor:  unset;
}

#filter-form .arrow, #filter-form .arrow_in {
    width: 15px; height: 10px;
    position:      absolute;
    display:       grid;
    justify-items: center;
    align-items:   center;
    transition:    all 0.2s ease-in-out;
}
#filter-form .arrow    {right: 0px;}
#filter-form .arrow_in {right: 50px;}

#filter-form .option-list input:checked + label .arrow {
    transform: rotate(180deg);
}


.search_brand {
    width:       99%;
    border:      1px solid #6D6D6D;
    margin-bottom: 20px;
    height:      40px;
    display:     flex;
    align-items: center;
    position:    relative;
}

.search_brand input {border: none;padding-left: 18px;width: 100%;height: 90%;}
.search_brand input, .search_brand input::placeholder {
    color:       #888;
    font-size:   14px;
    font-weight: 400;
}
.search_brand span {
    position: absolute;
    right:    25px;
    width:    11px;
    height:   11px;
    display:  grid;
    cursor:   pointer;
}

.reset_button {margin-top: 11px !important;background: var(--black4) !important;color: var(--white5) !important;}
#filter-form .submit.active, .reset_button {cursor: pointer;}

#filter-form .submit-box {height: fit-content;padding-top: 20px;}
#filter-form .submit, .reset_button {
    justify-items: center;
    align-items:   center;
    display:       grid;
    height:      57px;
    background:  var(--white3);
    
    color:       var(--black2);
    font-size:   20px;
    font-weight: 600;
}
  /* range slider for price */
.inputs {
    justify-content: space-between;
    display:         grid;
    grid-template:
    "a b" 
    "c d" / 1fr 1fr;
    justify-items:   center;
    align-content:   space-between;
    row-gap: 10px;column-gap: 25px;   
}
.inputs input {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    width: 95%;height: 32px;
    border:             2px solid var(--white3);
    border-radius:      0px;
    text-align:         center;
}
#filter-form .mli.Price .attr {gap: 40px;}
.inputs h6 {
    color:       var(--black6);
    font-size:   16px;
    font-weight: 700;
}

.inputs input, .inputs input::placeholder {
    color:          var(--grey3);
    font-family:    'Inter';
    font-size:      13px;
    font-weight:    500;
}

.range_slider #range {
    position:        absolute;
    height:          100%;
    background:      linear-gradient(to right,var(--black3), var(--black3)) no-repeat center;
    background-size: 100% 5px;
    z-index:         2;
    pointer-events:  none;
}

.range_slider #slide_min {
    background:      linear-gradient(to right,var(--white3), var(--white3)) no-repeat center;
    background-size: 100% 5px;
    z-index:         1;
}

.range_slider input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    box-sizing:         border-box;
    width:              100%;
    outline:            none;
    pointer-events:     none;
    height:             100%;
    margin:             0;
}

.range_slider input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance:    none;
    appearance:         none;
    height:         20px;
    width:          20px;
    border-radius:  20px;
    position:       relative;
    margin:         5px 0;
    cursor:         pointer;
    pointer-events: all;
    z-index:        3;
    background-color: var(--black3);
}
.range_slider input[type="range"]::-webkit-slider-thumb::before {
    content:    " ";
    display:    block;
    position:   absolute;
    top:        13px;
    left:       100%;
    width:      2000px;
    height:     2px;
}

.range_slider {
    position: relative;
    height:   50px;
}
.range_slider input[type="range"] {
    position: absolute;
}

/* Other */ 
.Center-page p {
    font-family: 'Inter';
    font-size:   14px;
    font-weight: 600;
    color: var(--white3);
}

.product-list { 
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-row-gap: 140px;
    grid-column-gap: 100px;
    margin: 100px 0px 120px 0px;
    justify-items: center;
}

.not-found {
    width:         100%;
    height:        100%;
    display:       grid;
    align-items:   center;
    justify-items: center;
    margin:        70px 0px;
}

.not-found-img {
    width:       280px;
    height:      210px;
    display:     grid;
    justify-items: center;
    margin-bottom: 60px;
}

.not-fount-text {
    color:          var(--black5);
    font-family:    'Inter';
    font-size:      20px;
    font-weight:    600;
}

.Paginator {
    justify-content: center;
    display: flex;
    padding: 30px 0px;
    height:  30px;
}

/* Место для блоков */
.Paginator-place {
    display: flex;
    gap:     16px;
}

/* Цифорки */
.Paginator-place p { 
    color: #757575;
    font-family: 'Inter';
    font-size:      20px;
    font-style:     normal;
    font-weight:    400;
    line-height:    normal;

    text-align:  center;
    margin: -40% 0px;
    width:  inherit;
    color: var(--grey2);
}

.Paginator-box          {width:  80px;height: 100%;cursor: pointer;background: var(--white3);}
.Paginator-box.active   {background: var(--grey2) !important;}
.NextBack               {height: 80%;margin: 0px 20px;align-self: center; cursor: pointer;display: flex;}


@media screen and (max-width: 1440px) {

    #sorting-form ul li{
        height:      53px;
        font-size: 14px;
    }
    #sorting-form ul li h3{
        font-size:    14px;
        margin-right: 18px;
        letter-spacing: 0.56px;
    }

    .product-list { 
    grid-row-gap: 110px;
    grid-column-gap: 100px;
    margin: 80px 0px 100px 0px;
    }
    .Center-page p      {font-size: 12px;}
    .button-switch span {font-size: 16px;}
    
    #Filter-button img    {right:-20px;}
    #Sorting-button .img2 {left: -20px;width: 10px; height: 7px;}
    .ddfcs {grid-template-columns: minmax(150px,200px) 1fr minmax(150px,200px);}

    #filter-form {
        left:        -350px;
        width:       310px;
        --gap:       20px;  /* гап много где */
        --gapB:      30px;  /* гап между всем  */
    }

    #filter-form .option-list .mli.first {margin-top: 15px;}
    #filter-form .close {width: 13px; height: 13px;}
    
    #filter-form nav {--pform: 30px}
    
    #filter-form h1    {font-size: 22px; gap: 10px;letter-spacing: 0.88px;}
    #filter-form p     {font-size: 13px;letter-spacing: 0.11px;}
    #filter-form h2    {font-size: 16px; gap: 5px;letter-spacing: 0.96px;}
    #filter-form h3    {font-size: 14px; gap: 12px;letter-spacing: 0.56px;}
    #filter-form h4    {font-size: 15px;margin-bottom: 5px;}
    #filter-form h5    {font-size: 16px;letter-spacing: 0.8px;}
    li .star {width: 15px; height: 15px;padding: 2px; border: 2px solid var(--white2);}
    .inputs h6 {font-size: 14px;}

    .inputs input {width: 90%;height: 29px;}
    #filter-form .mli.Price .attr {gap: 30px;}

    .range_slider input[type="range"]::-webkit-slider-thumb {
        height:         18px;
        width:          18px;
        border-radius:  18px;
        margin:         5px 0;
    }

    #filter-form .attr{margin: 0px 4px 0px 0px;}

    #filter-form .option-list input:not(:checked) ~ .box-last {max-height: 0px;}
    #filter-form .option-list input:checked ~ .box-last {margin-bottom: 25px;}
    #filter-form .option-list input:checked ~ label     {margin-bottom: 25px;}

    #filter-form .submit, .reset_button {
        height:      40px;
        font-size:   14px;
    }
    #filter-form .arrow, #filter-form .arrow_in {width: 12px; height: 7px;}

    .search_brand {height: 30px;margin-top: 10px;}
    .search_brand input {padding-left: 18px;font-size: 13px;letter-spacing: 0.65px;}
    .search_brand span {
        right:    20px;
        width:    10px;
        height:   11px;
    }


    .not-found {margin: 110px 0px;}
    .not-found-img {
        width:       200px;
        height:      150px;
        margin-bottom: 60px;
    }
        
    .not-fount-text {font-size: 16px;}

    
    .Paginator {padding: 20px 0px;height: 23px;}
    .Paginator-place   {gap: 16px;}    
    .Paginator-place p {font-size: 15px;margin: -40% 0px;}
    .Paginator-box     {width: 60px;height: 100%;}    
    .NextBack          {height: 55%;margin: 0px 15px;}
}
@media screen and (max-width: 500px) {
    #sorting-form ul li.active{background: unset;}
    #sorting-form ul li:hover{background: unset;}

    #sorting-form h1, #sorting-form ul li h3 {margin-right: 19px;}
    #sorting-form ul li h3 {
        font-size: 16px;
        font-weight: 500;
    }

    .product-list {
        grid-template-columns: repeat(2, 1fr);
        grid-row-gap:    70px;
        grid-column-gap: unset;
        margin:          60px 0px;
    }
    #filter-form, #sorting-form ul {box-shadow: 2px 2px 4px 0px rgba(0, 0, 0, 0.25);}
    .Center-page p                 {font-size: 14px;font-weight: 400;letter-spacing: 0.84px;}
    .mobile.center                 {text-align: center;font-size: 20px;font-weight: 900;letter-spacing: 2.9px;width: 100%;font-family: "Inter";
        display: block !important;
        margin: 0px 0px 35px 0px;
        text-transform: uppercase;
    }
    
    #Filter-button img    {right:-20px;}
    #Sorting-button .img2 {left: -20px;width: 100%; height: 100%;}
    #sorting-form ul li {height: unset !important;}
    #sorting-form ul .mobile li  {font-size: 14px;border-bottom: 1px solid #E1E1E1;padding-bottom: 40px;}

    .ddfcs        {grid-template-columns: minmax(50px,80px) 1fr minmax(50px,80px);padding: 0px 10px;}

    #filter-form .bottom {border-top:    1px solid #E1E1E1;margin-bottom: 20px; }
    #filter-form .top    {border-bottom: 1px solid #E1E1E1;}
    #filter-form {
        top:    unset;
        bottom: 0;
        height: calc(100dvh - 55px);
        left:   -100vw;
        width:  100vw;
        --gap:  40px;  /* гап много где */
        --gapB: 30px;  /* гап между всем  */
    }


    #filter-form .close, .backTomenu,#sorting-form ul .button-switch{width: 20px !important; height: 20px !important;}
    
    #filter-form nav {--pform: 30px;position: relative;}
    
    #filter-form h1, #sorting-form h1  {font-size: 20px; gap: 10px;font-family: "Inter";font-weight: 700;letter-spacing: 0.8px;}
    #filter-form p     {font-size: 11px;}
    #filter-form h2    {font-size: 17px; gap: 5px;letter-spacing: 1.02px;}
    #filter-form h3    {font-size: 16px; gap: 10px; font-weight: 400;}
    #filter-form h4    {font-size: 16px;}
    #filter-form h5    {font-size: 16px;font-weight: 600;letter-spacing: 0.8px; }
    li .star {width: 15px; height: 15px;padding: 5px; border: 2px solid var(--white2);}
    #sorting-form ul .button-switch {margin: 0px 4px;}
    .button-switch {width: 28px !important;height: 22px !important;margin: 0px 15px;}

    #filter-form .mli:not(.Price, .In_stock) .attr{margin: 0px var(--pform) 0px var(--pform);max-height:unset;}

    .mli:not(.not-absolute) .box-last {
        padding:    40px 0px;
        transition: all 0.4s ease-in-out;
        position:   absolute;
        top:            0px;
        left:           -100vw;
        height:         calc(100% - (var(--pform) * 7.7));
        width:          100%;
        background:     #FFF;
        display:        flex;
        flex-direction: column;
        gap:            40px;
        
        
        z-index:        4;
        max-height:     unset;
        overflow:       unset;
        margin-bottom:  0px;
        border-bottom:  1px solid #E1E1E1;
    }
    .mli:not(.not-absolute) .box-last .mobile {display: flex !important;justify-content: space-between;align-items: center;border-bottom: 1px solid var(--white4);padding: 0px var(--pform) 40px var(--pform);}
    .mli.Price:not(.not-absolute) .box-last {width: calc(90% - var(--pform) - 3px);}
    .range_slider input[type="range"]::-webkit-slider-thumb {
        height:         21px;
        width:          21px;
        border-radius:  21px;
    }

    
    #filter-form .mli.Price .attr {gap: 10px;}
    #filter-form .inputs {column-gap: 30px;row-gap: 0px;margin-top: 20px;}
    .inputs input {height: 35px;font-size: 14px;}
    
    #filter-form .mli:not(.not-absolute) label {margin-bottom: 25px;}  #filter-form .option-list .mli.first {margin-top: 30px;}
    #filter-form .mli:not(.not-absolute) input:not(:checked) ~ .box-last {max-height: unset;}
    #filter-form .mli:not(.not-absolute) input:checked ~ .box-last {left: 0px;}
    #filter-form .option-list .mli:not(.not-absolute) input:checked ~ label     {margin-bottom: 20px;}


    #filter-form.open .reset_button {margin-bottom: 80px;}
    #filter-form      .reset_button {transition: all 0.3s ease-in-out;}
    

    #filter-form .arrow, #filter-form .arrow_in {width: 15px; height: 10px;}
    #filter-form .mli:not(.not-absolute) .arrow, #filter-form .mli:not(.not-absolute) .arrow_in {rotate: -90deg;}

    .search_brand {height: 41px;margin-top: 20px;}
    .search_brand input {padding: 0px 25px;font-size:14px;font-weight: 500}
    .search_brand span {
        right:    25px;
        width:    12px;
        height:   12px;
    }
    .Brand #bjin {max-height: unset;}

    #sorting-form{
        position: unset;
        width:    100%;
    }
    /* #sorting-form .box-sort {
        transition:    all 0.4s ease-in-out;
        width:         100%;
        height:        unset;
        position:      unset;
        justify-items: center;
        display:       grid;
        border:        unset;
        overflow:      hidden;
    }
     */
    #sorting-form ul{
        transition: all 0.4s ease-in-out;
        position:   fixed;
        width:      100vw;
        padding:    40px 0px 60px 0px;
        height:     auto;
        right:      -100vw;
        top:        55px;
        gap:        50px;


        background:    #FFF;
        display:       grid;
        align-items:   unset;
        justify-items: end;
    }
    #sorting-form button {height: unset;}
    #sorting-form.active ul{right: 0px;}

    #sorting-form ul li{
        width:           unset !important;
        justify-content: flex-end;
        font-size:   20px;
        font-weight: 400;
        padding:     0px 30px;
    }
    
    .ddfcs .box-button {width: 100%;height: 100%;display: flex !important;justify-content: center;}
    #sorting-form .top {flex-direction: row-reverse;}
    #sorting-form ul   {display: grid;}
    #sorting-form li   {display: flex;justify-content: space-between;align-items: center;} 

    #filter-form .submit-box {padding-top: unset;}

    .not-found {margin: 170px 0px;}
    .not-found-img {
        width:         200px;
        height:        150px;
        margin-bottom: 70px;
    }

        
    .not-fount-text {font-size: 15px;font-weight: 600;}
}