
#search-button {
    background-color: #fff;
    background-image: none;
    box-shadow:       none;
    border:           none;
    cursor:           pointer;
}

.Header-search { 
    padding:    0px var(--paddingPage);
    width:      -webkit-fill-available;
    height:     max-content;
    
    font-family:    'Inter';
    opacity:        0;
    position:       absolute;
    max-height:     0px;
    z-index:        -1;
    --MarginSearch: 100px;
    justify-content:  space-between;
    display: flex;
}

.Header-search.active {
    opacity: 1;
    z-index: 4;
    min-height:       400px;
    max-height:       600px;
    background-color: #fff;
}
.form-inline{
    width:  50%;
    margin: var(--MarginSearch);
}
.form-search {
    background:     #FFF;
    width:          50%;
    height:         300px;
    transition: all 0.2s cubic-bezier();
}
.form-search input, .form-search input::placeholder {
    color:       var(--white3);
    font-family: 'Inter';
    font-size:   96px;
    font-weight: 600;
    letter-spacing: 0.96px;
    
    margin-top:  var(--MarginSearch);
    width:       100%;
    border:      none;
    padding:     0px;
    caret-color: var(--grey1);
}

.search-result ul {
    display:       grid;
    gap:           25px;
    /* grid-template: "a b"; */
}
.search-result {
    margin: var(--MarginSearch) var(--MarginSearch) var(--MarginSearch) calc(var(--MarginSearch) + 10%);
    flex-grow: 1;
    height: 100%;
}

.list-group-item {
    padding-inline-start: 0;
}
.list-group-item a {
    color:       var(--black6) !important;
    font-size:   18px;
    font-weight: 600;
    letter-spacing: 0.18px;
}

.list-group-item .HighLight {
    color:       black;
    font-weight: 800;
}

@media screen and (max-width: 1600px) {
    .Header-search {--MarginSearch: 75px;}
    .list-group-item a {font-size: 17px;}
    .form-search input, .form-search input::placeholder {font-size: 70px;}
    .Header-search.active {
        min-height: 300px;
        max-height: 400px;
    }
}
@media screen and (max-width: 1440px) {
    .Header-search {--MarginSearch: 55px;}
    .search-result ul {gap: 20px;}
    .list-group-item a {font-size: 16px;}
    .form-search input, .form-search input::placeholder {font-size: 64px;}
}

@media screen and (max-width: 500px) {
    .Header-search {
        width:      100vw;
        height:     100vh;
        opacity:    1;
        top:        -100%;
        position:   fixed;
        justify-content: flex-start;
        align-items: center;
    }
    .search-result ul {grid-template: unset;}

    .form-search {height: unset;
        width:           calc(100% - 40px);
        margin:          70px 20px 85px 20px;
        display:         flex;
        align-items:     center;
        justify-content: space-between;
    }
    .search-result {height: unset;width: unset;margin: 0px;}
    .list-group-item {margin: 0;}
    .list-group {display: grid;gap: 40px;}

    .form-search input::placeholder{text-align: center;padding-left: 20px}
    .form-search input, .form-search input::placeholder {
        font-size:  30px;
        height:     unset;
        width:      85%;
        text-align: center;
        margin-top: unset;
    }

    .list-group-item a {font-size: 16px;text-align: center;}
    .Header-search.active {
        min-height:       unset;
        max-height:       unset;
        flex-direction:   column;
        top:              54px;
    }
    .form-search .mobile {
        display: grid !important;
        width:  22px;
        height: 22px;
    }
}
@media screen and (max-width: 400px) {
    .form-search input, .form-search input::placeholder {font-size: 24px;height: unset;width: 80%;text-align: center;}
}
@media screen and (max-width: 350px) {
    .form-search input, .form-search input::placeholder {font-size: 20px;height: unset;width: 80%;text-align: center;}
}