.body {font-family: 'Inter';}

.support-img {
    width:  180px;
    height: 180px;
    margin: 40px auto 45px auto;
}

.questions-al {
    font-style:  normal;
    text-align:  center;
    display:     grid;
}

.questions-al h3{
    font-style:  normal;
    font-weight: 500;
    font-size:   24px;
    text-align:  center;
    margin-bottom: 50px;

}

.listquestions {
    display:         grid;
    align-items:     center;
    justify-items:   center;
    justify-content: space-between;
    width:           100%;

    --imgquestions: 120px;
    grid-template-columns: repeat(5, 1fr);
}

.img-question {
    width:  var(--imgquestions);
    height: var(--imgquestions);
    margin: 55px;
}

.question {display: flex;justify-items: center;align-items: center;flex-direction: column;}
.question p {
    font-weight: 400;
    font-size:   18px;
    text-align:  center;
    color:       var(--black4);
}

.questions h2 {
    padding:     120px 0px 70px 0px;
    font-weight: 900;
    font-size:   26px;
    text-align:  center;
    letter-spacing: 3.9px;
}
.questions h6 {
    color: #ffffff00;
}

.question-a {
    text-align: start;
    position:   relative;
}

.question-a input {position: absolute;height:0;opacity: 0;}
.question-a label{ /* заголовок + стрелка */
    display:       flex;
    margin-bottom: 23px;
    width:         fit-content;
    align-items:   center;
    position:      relative; 
    margin:       50px auto 0px auto;
}

.question-a p {
    font-weight: 500;
    font-size:   18px;
    cursor:      pointer;
    transition:  font-weight 0.4s ease-in-out;
    color: var(--black3);
}

.question-a .text-question {
    font-weight:    400;
    font-size:      16px;
    line-height:    150%;
    letter-spacing: 0.32px;
    color:          var(--grey2);

    width:       600px;
    margin:      0px auto;
    overflow:    hidden;
    transition:  all 0.5s ease-in-out;
    -webkit-transition: all 0.5s ease-in-out, margin 0.4s ease-in-out ;
    max-height: 0px;
}
.question-a .text-question.active {margin: 40px auto 90px auto;}
.question-a.wheremy     .text-question.active {max-height: 100px}
.question-a.wherefrom   .text-question.active {max-height: 150px}
.question-a.original    .text-question.active {max-height: 150px}

.question-a.order       .text-question.active {max-height: 440px}
.question-a.size        .text-question.active {max-height: 210px}
.question-a.bonus       .text-question.active {max-height: 350px}

.question-a.deliver     .text-question.active {max-height: 150px}
.question-a.about       .text-question.active {max-height: 170px}

.question-a .arroy-question {
    display:    grid;
    width:      10px;
    height:     6px;
    position:   absolute;
    right:      -30px;
    
    transition: all 0.2s ease-in-out;
    opacity:    0;
}
.question-a label:hover .arroy-question {opacity: 1;}
.question-a label.active .arroy-question {transform: rotateZ(180deg);}
.question-a label {opacity: 0.5;transition: all 0.1s ease-in-out;}
.question-a label.active {opacity: 1;}
.question-a label.active p {font-weight: 700;}


@media screen and (max-width: 1440px) {    
    .questions-al h3{
        font-size:   20px;
        font-weight: 900;
        margin-bottom: 50px;
    }
    
    .listquestions {
        --imgquestions: 110px;
        grid-template-columns: repeat(5, 1fr);
        row-gap:    30px;
        column-gap: 50px;
        margin:     0px auto;
    }
    
    .img-question {
        width:  var(--imgquestions);
        height: 70px;
        margin: 50px 0px;
    }
    
    .question {display: flex;justify-items: center;align-items: center;flex-direction: column;}
    .question p {font-size: 16px;} /* текст в вопросах сверху */
    
    .questions h2 {
        padding:     80px 0px 50px 0px;
        font-size:   20px;
    }
    .question-a label{ /* заголовок + стрелка */
        margin:      40px auto 0px auto;
    }
    
    .question-a p {
        font-weight: 500;
        font-size:   16px;
        cursor:      pointer;
        color: var(--black3);
        letter-spacing: 0.8px;
    }
    
    .question-a .text-question {
        font-size:  14px;
        overflow:   hidden;
        max-height: 0px;
        letter-spacing: 0.28px;
        width: 490px;
    }

    .question-a .text-question.active {
        margin: 40px auto 85px auto;
    }

    .question-a label .arroy-question {opacity: 0.6;}
    .question-a.wheremy     .text-question.active {max-height: 170px}
    .question-a.wherefrom   .text-question.active {max-height: 240px}
    .question-a.original    .text-question.active {max-height: 190px}

    .question-a.order       .text-question.active {max-height: 550px}
    .question-a.size        .text-question.active {max-height: 260px}
    .question-a.bonus       .text-question.active {max-height: 420px}

    .question-a.deliver     .text-question.active {max-height: 260px}
    .question-a.about       .text-question.active {max-height: 250px}
}

@media screen and (max-width: 500px) {    
    .questions-al {
        width: 85%;
        margin: auto;
    }
    .questions-al h3{
        font-size:   20px;
        font-weight: 900;
        margin-bottom: 50px;
    }
    
    .listquestions {
        --imgquestions:     50px;
        grid-template-columns: repeat(2, 1fr);
        row-gap:    30px;
        column-gap: 90px;
        margin:     0px auto;
    }
    
    .img-question {
        width:  var(--imgquestions);
        height: var(--imgquestions);
        margin: 20px;
    }
    
    .question {display: flex;justify-items: center;align-items: center;flex-direction: column;}
    .question p {font-weight: 500;font-size:   14px;} /* текст в вопросах сверху */
    
    .questions h2 {
        padding:     50px 0px 20px 0px;
        font-size:   18px;
        font-weight: 500;
    }
    .question-a label{ /* заголовок + стрелка */
        margin:      30px auto 10px auto;
    }
    
    .question-a p {
        font-weight: 700;
        font-size:   16px;
        cursor:      pointer;
        color: var(--black3);
    }
    
    .question-a .text-question {
        font-size:      14px;
        overflow:       hidden;
        max-height:     0px;
        line-height:    120%;
        letter-spacing: 0.328px;
        width:  unset;
        margin: unset;
    }

    .question-a label .arroy-question {opacity: 0.6;}
    .question-a.wheremy     .text-question.active {max-height: 170px}
    .question-a.wherefrom   .text-question.active {max-height: 240px}
    .question-a.original    .text-question.active {max-height: 190px}

    .question-a.order       .text-question.active {max-height: 550px}
    .question-a.size        .text-question.active {max-height: 260px}
    .question-a.bonus       .text-question.active {max-height: 420px}

    .question-a.deliver     .text-question.active {max-height: 260px}
    .question-a.about       .text-question.active {max-height: 250px}
}